.cercle1 {
  border-bottom-left-radius: 1000px #bc3a801a;
}
.cercle2 {
  border-bottom: #3457b21a;
}
.cercle3 {
  border-bottom-right-radius: height 200px, width 200px, border-radius 100% 0 0,
    #3457b21a;
}
