.nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #202027;
    color: white;
    font-size: 1.2rem;
   
}
.logo {
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
}

.logo > img {
    padding: 0 20px;
    margin-right: 0px;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 550px;
}

.barra > a {
    padding: 0 20px;
    text-decoration: none;
    color: white;

} 