*{
  font-family: Poppins;
  margin: 0;
}

.App {
 
  background-color: #2F303A;
  padding: 40px;
}

.cercle1 {
  border-bottom-left-radius: 1000px #bc3a801a
  ;
}
.cercle2 {
  border-bottom: #3457b21a;
}
.cercle3 {
  border-bottom-right-radius: height 200px, width 200px, border-radius 100% 0 0, #3457b21a;
}

.JoinNow {
  display: flex;
  align-items: center;
  order: 1;
  align-self: flex-end;

  padding: 1px;
  min-width: 2px;

  background: #1762A7;

  transition: all 0.1s ease-in;
}

.Buto:hover {
  background: #1a202c;
  color: #2796ff;
}

footer {
  float: left;
  width: 100%;
  height: 50px;
  background-color: pink;
}